.popup {
  display: none;
  position: absolute;
  min-width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  font-weight: 500;
  text-align: right;
  font-size: 30px;
  background: rgba(14, 30, 37, 0.4);

  &__container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 400px;
    max-width: 600px;
    padding: 2rem 1.5rem;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 5px 30px 0 rgb(0 0 0 / 4%);
    text-align: center;
  }

  &--close_btn {
    z-index: 1;
    filter: grayscale(1);
    border: none;
    background: none;
    position: absolute;
    top: 15px;
    right: 10px;
    transition: ease filter, transform 0.3s;
    cursor: pointer;
    transform-origin: center;
    &:hover {
      filter: grayscale(0);
      transform: scale(1.1);
    }
  }

  &__heading {
    font-weight: 600;
    font-size: 2.4rem;
    padding-bottom: 1rem;
  }
  &__text {
    font-size: 1.7rem;
    line-height: 1.4;
    padding: 0.5rem 0;
  }
}

.shown {
  display: flex;
}

@media (max-width: $medium) {
  .popup {
    &__container {
      width: 70%;
      padding: 1rem 2rem;
    }
  }
}

@media (max-width: $small) {
  .popup {
    &__heading {
      font-size: 1.8rem;
    }
    &__text {
      font-size: 1.4rem;
    }
  }
}
