.studio {
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__img {
    display: block;
    max-width: 80%;
    min-height: 100%;
    align-self: center;
  }

  &__desc {
    margin-top: 40px;
    font-size: 18px;
    text-align: start;
    line-height: 1.6;
    padding: 15px 25px;
    max-width: 1000px;
  }
}

@media (max-width: $large) {
  .studio {
    &__img {
      max-width: 100%;
    }
  }
}
