.header {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__intro {
    padding: 5rem 0;
    width: 100%;
    background-image: url(../src/intro\ desktop.png);
    height: 20.5rem;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    align-items: center;
    color: $white;
  }
  &__heading {
    font-weight: 400;
    font-size: 2.6rem;
  }
  &__heading--secondary {
    font-weight: 200;
    font-size: 1.5rem;
  }
  &__link--learn-more {
    color: $white;
  }

  &__link--learn-more:link {
    color: $white;
  }
  &__started {
    padding: 2rem 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  &__heading--start {
    color: $black;
    margin-bottom: 0;
  }
  &__motto {
    margin-bottom: 2rem;
    color: $grey-text;
  }
  &__link--get-started {
    color: $black;
  }
}

.nav {
  padding: 1rem 1.5rem;
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__item {
    color: $black;
  }
  &__item:first-child {
    flex: 0.4;
  }
  &__item:nth-child(2) {
    flex: 0.4;
  }
  &__item:nth-child(3) {
    flex: 1;
  }
  &__link {
    color: #000;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: 1.4px;
    background-image: linear-gradient(to right, #76d492, #c9e957 50%, #000 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
  }
  &__link:link {
    color: #000;
  }
  &__link:before {
    content: "";
    background: #07481b;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }

  &__link:hover {
    background-position: 0;
  }

  &__link:hover::before {
    width: 100%;
  }
}

@media (max-width: $medium) {
  .nav {
    &__list {
      display: flex;
    }
    &__link {
      font-size: 1.2rem;
    }
    &__link--logo {
      display: none;
    }
  }

  .header {
    &__intro {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    &__heading,
    &__heading--start {
      font-size: 2rem;
    }
    &__heading--secondary {
      font-size: 1.3rem;
    }
    &__motto {
      font-size: 1.3rem;
      padding: 0 15px;
    }
  }
}

@media (max-width: $smallest) {
  .nav {
    &__item:first-child {
      margin-right: 10px;
    }
  }
}
