/////COLORS
$grey-background: #9aa8b1;
$grey-light: #f9f9f9;
$grey-text: #939a9e;
$black: #000;
$white: #fff;
$green: #0e8231;

//////MEDIAS
$largest: 1440px;
$large: 1024px;
$medium: 600px;
$small: 425px;
$smallest: 320px;
